.slider {
	margin: 0 0 30px 0;
}

.slide-loader {
	background: url(/static/web/images/loader.gif) #f5f5f5 no-repeat center center !important;
	min-height: 416px;
}

/* 4.1 - Slideshow Single */
.slide-loader-single {
	background: url(/static/web/images/loader.gif) #f5f5f5 no-repeat center center !important;
	min-height: 245px;
}

.slider-single {
	position: relative;
	margin: 0 0 1px 0;
}

.product-single-content {
	padding: 0 0 30px 0;
}

.slider-single ul {
	margin: 0 !important;
}

.slider-single li {
	list-style-image: none !important;
	margin: 0 !important;
	padding: 0 !important;
	border-bottom: none !important;
}

.section-mini2 {
	padding: 0 30px 20px 30px;
}

.columns-4 {
	margin: 0 !important;
}

.columns-4 li.col4 {
	float: left;
	width: 23.5%;
	margin: 0 2% 0 0;
	list-style: none;
	border: none;
}

.columns-4 li.col4:nth-child(4n) {
	margin: 0;
}

.columns-4 li.col4 .full-image {
	width: 100%;
}

.tag-title-wrap {
	background: url(/static/web/images/darkdots.png) #fff repeat-x center;
	margin: 0 0 30px 0;
}

.tag-title {
	font-size: 16px;
	color: #fff;
	float: left;
	text-transform: capitalize;
	padding: 8px 10px 8px 8px;
	position: relative;
	z-index: 100;
	margin: 0;
	line-height: 100%;
}

.tag-title:before {
	content: '';
	position: absolute;
	width: 1px;
	height: 0px;
	right: -17px;
	top: 0px;
	border-width: 16px 16px;
	border-style: solid;
	z-index: 10;
}

.lists li {
    padding: 4px 0;
    border-top: 1px solid #FFF;
    display:block;
}
.lists li a{
	color: #6f6f6f;
	font-size: 14px;
}
.lists li span {
	color: #6f6f6f;
    float:right;
    text-align: right;
}

.flex-direction-nav .flex-prev {
	right: 63px;
	background: url(/static/web/images/slide-arrows.png) #80b600 no-repeat;
	background-position: 7px 6px;
}
.flex-direction-nav .flex-prev:hover {
	background: url(/static/web/images/slide-arrows.png) #fff no-repeat;
	background-position: 7px -49px;
}
.flex-direction-nav .flex-next {
	right: 30px;
	background: url(/static/web/images/slide-arrows.png) #80b600 no-repeat;
	background-position: -51px 6px;
}
.flex-direction-nav .flex-next:hover {
	background: url(/static/web/images/slide-arrows.png) #fff no-repeat;
	background-position: -51px -49px;
}
.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
	bottom: 30px;
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	text-indent: -9999px;
	z-index: 101;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}